{% extends 'base.html' %}
{% block main %}

{% for item in movie %}
<div>
    <h2>
        {{ item.title }}
    </h2>
    {% if item.image%}

    {%if item.image[0:8] == "https://" %}
    <img src="{{item.image}}">
    {%else%}
    <img src="{{url_for('static', filename='IMAG/'+item.image)}}">
    {%endif%}
    {%endif%}


    <p>
        {{ item.description }}
    </p>
    <p>

        Resyżer: {{ item.writers}}</p>
    <span>
        {{ item.average_grade}}
        <br />
        <span>Liczba ocen: {{item.number_of_ratings}}</span>
    </span>
</div>
{% endfor %}
{% endblock %}