{% extends 'base.html' %}
{% block main %}
<div class="row">
    <div class="col">

        <button class="btn buttons" disabled>
            <a href="/movie" class="links">
                Filmy </a>
        </button>


    </div>
    <div class="col">

        <button class="btn buttons">
            <a href="/top/movie" class="links">
                Top filmów</a>
        </button>


    </div>
</div>

{% for item in movie %}
<div class="movie">

    <div class="row title ">
        <div class="col">
            <h2>
                {{ item.title.title() }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if item.image%}

            {%if item.image[0:8] == "https://" %}
            <img src="{{item.image}}" class="rounded mx-auto d-block">
            {%else%}
            <img src="{{url_for('static', filename='IMAG/'+item.image)}}" class="rounded mx-auto d-block">
            {%endif%}
            {%endif%}
        </div>
        <div class="col  ">

            <p class="text-lg-left">
                {{ item.description }}
            </p>
            <p>

                <strong>Resyżer:</strong>
                {{ item.writers}}
            </p>
            <span>
                <h3>Ocena użytkowników: {{ item.average_grade}}</h3>
                <br />
                <span>
                    <strong> Liczba ocen: {{item.number_of_ratings}}</strong>

                </span><br />
            </span>
            <div>
                {% include 'button.html' %}
            </div>
        </div>
    </div>

</div>
<br />
<br />
{%endfor%}

{% endblock %}